<div
  [ngStyle]="{
    background:
      'url(' + bg + ') no-repeat 0 0 / cover',
      'flex-direction': randomNumberColumnDirection == 0 ? 'column' : 'column-reverse'}"
  class="wrapper"
>
<div class="overlay"></div>
  <div
    class="buongiorno"
    [ngStyle]="{
      'color': color[randomNumberColorBgHeader],
      'font-family': font[randomNumberFontBg],
      'transform': 'rotate(' +  randomNumberHeaderRotation +'deg)',
      'align-self':positionText[randomNumberPositionHeaderText]
    }"
  >
  {{buongiorno}}
  </div>
  <div
    class="frase"
    [ngStyle]="{
      'color': color[randomNumberColorFrase],
      'font-family': font[randomNumberFontFrase],'transform': 'rotate(' +  randomNumberFraseRotation +'deg)'
    }"

    [ngClass]="randomNumberPaddingFrase == 0 ? 'top': 'bottom'"
  >
    {{ frase}}
  </div>
  <img class="imgTop" [ngStyle]="randomNumberImgTopPosition <= 2 ? { 'right': 0 } : { 'left': 0 }" [src]="srcHeader" />
  <img

  class="imgBottom"
    [ngStyle]="randomNumberImgPosition <= 2 ? { 'right': 0 } : { 'left': 0 }"
    [src]="srcFooter"
  />
  
  <div
    class="buongiorno"
    [ngStyle]="{
      'color': color[randomNumberColorBgFooter],
      'font-family': font[randomNumberFontBg],
      'transform': 'rotate(' +  randomNumberFooterRotation +'deg)',
      'align-self':positionText[randomNumberPositionFooterText]
    }"
  >
    {{day}} {{ giornoAttuale }}
  </div>
</div>
